/******* RESET AND INIT ********/

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 92.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Baloo 2', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 96rem;
    margin: 0 auto;
    padding: 0 2rem;
}

/******** HEADER ***********/

.header {
    background: #333;
}

.header .container {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.nav img {
    width: 2rem;
    margin-right: 2rem;
}

.nav ol {
    list-style-type: none;
    display: flex;
    gap: 2em;
}

.nav ol li  {
    color: aqua;
}



/* .hero {
    /* background: var(--color-primary); */
}

/************  SECTION HERO   **************/
/* 
.hero .container {
    padding: 5rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 5rem;
}

.hero .container img {
    width: 20rem;
}

.hero__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.hero .container .hero__title img {
    width: 10rem;
}

.hero__title h2 {
    color: #fff;
    font-weight: 300;
}

.hero__title a {
    display: inline-block;
    padding: 1rem 2.5rem;
    background: var(--color-secondary);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 1rem; */
} */

/******** INTERSECTION **********/

.intersection .container {
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444;
    font-weight: 300;
    font-size: 1.5rem;
}

/****** CARDS *********/

section {
    background-color: cyan; 
}
.container{
     flex-direction: row wrap;
}

article {
    padding: 3em;
    width: 40%;
    display: grid;
    flex-direction: row wrap;
}
article h3::before {
        content: "\200B";
}

article h3 {
    letter-spacing: 3px;
    font-size: 2em;
}

article p {
    color: #eaeaea;
}

/***************************/

/* .brands {
    background: #EFEFEF;
}

.brands .container {
    padding: 5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */



.btns .container {
    height: 30rem;
    padding: 5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2.5rem;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 1rem;
}


/********************* FOOTER **************/

footer   {
    color: #fff;
    padding: 1rem 2rem;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_left ol {
    display: flex;
    gap: 2em;
    list-style-type: none;
}
.footer__left ul a {
    color: #fff;
}
.footer_right{
    color: brown;
}